body {
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Arial, Helvetica, sans-serif;
    /*
      style=background-color: hsl(34, 53%, 82%);
      background-image: -webkit-repeating-linear-gradient(45deg, transparent 5px, 
      hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,                  
      hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, 
      hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
      hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, 
      hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,                
      hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, 
      hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
      hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, 
      hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
      hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, 
      hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px       
          ),
      -webkit-repeating-linear-gradient(135deg, transparent 5px, 
      hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px, 
      hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, 
      hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
      hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, 
      hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,                
      hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, 
      hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
      hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, 
      hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
      hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, 
      hsla(197, 62%, 11%, 0.5) 140px, hsla(197, 62%, 11%, 0.5) 160px       
      );
      */
    /* first dotted designed stripe*/
    /*background-image: url(images/bg_dot_stripe.png);
    background-image: url(images/bg_stripes.png)*/
    background-image: url(images/bg_easy.png);
    }

#page {
   
    }

#header {
    margin: 0;
    padding: 0;
    text-align: left;
    /*border-top: 3px solid #C9E0ED;*/
    }

#content {
    padding: 20px;
    width: 500px;
    }

#sidebar {
    padding: 20px 20px 20px 0
    }

#footer {
    padding: 10px;
    margin: 10px 20px;
    font-size: 0.8em;
    text-align: center;
    /*border-top: 1px solid #C9E0ED;*/
    }

#logo {
    padding: 10px 20px;
    font-size: 200%
    }

#mainmenu {
    /*background:#C9E0ED;*/
    margin-left: 10px;
    margin-right: 10px;
    text-align: right;
    /*white url(bg.gif) repeat-x left top;*/
    }

#mainmenu ul {
    padding: 0 20px 5px 20px;
    margin: 0
    }

#mainmenu ul li {
    display: inline;
    /*background: #dd9a94;*/
    }

#mainmenu ul li a {
    color: #fff;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    //padding: 5px 8px
    }

#mainmenu .login_button_bg {
    float: left;
    background: rgba(162, 79, 56, 0.6);    
    height: 100px;
    width: 100px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    margin-top: 50px;
    text-align: center;
    -moz-box-shadow: inset 0px 1px 3px #2b262b;
    box-shadow: inset 0px 1px 3px #2b262b;
    
}
#mainmenu .logout_button_bg {
    float: left;
    background: rgba(138, 197, 212, 0.6);    
    height: 100px;
    width: 100px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    margin-top: 50px;
    margin-left: -110px;
    -moz-box-shadow: inset 0px 1px 3px #2b262b;
    box-shadow: inset 0px 1px 3px #2b262b;
}

#mainmenu .link_button {
    margin-top: 40px;
    display: block;
}
#mainmenu .main_buttons {
  
    float: left;
    background: rgba(255, 239, 133, 0.6);    height: 100px;
    width: 100px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    -moz-box-shadow: inset 0px 1px 3px #2b262b;
    box-shadow: inset 0px 1px 3px #2b262b;
    margin-top: 50px;
    position: relative;
    left: -110px;    
    }

#mainmenu .main_buttons_logged {
    float: left;
    background: rgba(255, 239, 133, 0.6);    height: 100px;
    width: 100px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    -moz-box-shadow: inset 0px 1px 3px #2b262b;
    box-shadow: inset 0px 1px 3px #2b262b;
    margin-top: 50px;
    position: relative;
    left: -10px;    
    }

#mainmenu .main_buttons:hover {
  background: white;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

/*#mainmenu ul li a:hover, #mainmenu ul li.active a
{
  color: #6399cd;
  background-color:#EFF4FA;
  text-decoration:none;
}
*/
div.flash-error, div.flash-notice, div.flash-success {
    padding: 0.8em;
    margin-bottom: 1em;
    border: 2px solid #ddd
    }

div.flash-error {
    background: #FBE3E4;
    color: #8a1f11;
    border-color: #FBC2C4
    }

div.flash-notice {
    background: #FFF6BF;
    color: #514721;
    border-color: #FFD324
    }

div.flash-success {
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880
    }

div.flash-error a {
    color: #8a1f11
    }

div.flash-notice a {
    color: #514721
    }

div.flash-success a {
    color: #264409
    }

div.form .rememberMe label {
    display: inline
    }

div.view {
    padding: 10px;
    margin: 10px 0;
    /*border: 1px solid #C9E0ED;*/
    }

div.breadcrumbs {
    font-size: 0.9em;
    padding: 5px 20px
    }

div.breadcrumbs span {
    font-weight: bold
    }

div.search-form {
    padding: 10px;
    margin: 10px 0;
    background: #eee
    }

.portlet-decoration {
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF
    }

.portlet-title {
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd
    }

.portlet-content {
    font-size: 0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background: #EFFDFF
    }

.portlet-content ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0
    }

.portlet-content li {
    padding: 2px 0 4px 0
    }

.operations {
    list-style-type: none;
    margin: 0;
    padding: 0
    }

.operations li {
    padding-bottom: 2px
    }

.operations li a {
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none
    }

.operations li a:visited {
    color: #0066A4
    }

.operations li a:hover {
    background: #80CFFF
    }
