.items {
    z-index: 1;
    position: relative
    }
/* the imagebox itself. Has no complicated styling because of the redesing which
should more minimalism*/
div.view {
    /*background: white;*/
    padding: 1px;
    /*margin: 12px;
    border: clear;*/
    /*border-style: solid;
      border-left-width: 2px;
      border-top-width: 2px;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-top-left-radius: 10px 10px;
      border-top-color:#8B8B83;
      border-bottom-color:#F5F5F5;
      border-left-color:#8B8B83;
      border-right-color:#F5F5F5;*/
    /*-webkit-border-top-left-radius: 27px;
    -moz-border-radius-topleft: 27px;
    border-top-left-radius: 27px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;*/
    float: left;
    position: relative
    }
/* at the moment inactive. Was the stylish shadow effect from the imagebox
div.view:before, div.view:after {
    content: "";
    position: absolute;
    z-index: -2;
    width: 130px;
    /*max-width:600px;*/
  /*height: 50px;
    top: 78%;
    /*-webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.8);
    -webkit-transform: skew(-10deg) rotate(-10deg);
    -moz-transform: skew(-10deg) rotate(-10deg);
    -o-transform: skew(-10deg) rotate(-10deg);
    -ms-transform: skew(-10deg) rotate(-10deg);
    transform: skew(-10deg) rotate(-10deg);
    margin-top: 7px;
    margin-left: -5px;
    top: 38px
    }

div.view:after {
    left: auto;
    /*right: 20px;*/
    /*-webkit-transform: skew(10deg) rotate(10deg);
    -moz-transform: skew(10deg) rotate(10deg);
    -o-transform: skew(10deg) rotate(10deg);
    -ms-transform: skew(10deg) rotate(10deg);
    transform: skew(10deg) rotate(10deg);
    top: 38px
    }*/

/* the tooltip styling, should be improved*/
.tooltip {
    display:none;
    height:40px;
    width:250px;
    font-size:20px;
    color:#fff;
    background: rgba(30, 30, 30, 0.8);
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor:pointer;
    /* Due the possibility of actually too long descriptions prevent that 
    the text overflows the box*/
    overflow: hidden;
    
}
/* div in div to achieve padding within the box*/
.tooltipInner {
    padding-top:7px;
}
.optionsDelete {
    /*background: rgba(30, 30, 30, 0.8);*/
    padding: 20px;
    background: red;
    float: left;
}

.optionsEditImage {
    float: left;
    margin-left: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: blue;
}

.button {
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding-top: 2px;
    padding-right: 8px;
    padding-bottom: 2px;
    padding-left: 8px;
    text-decoration: none;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border: solid #f2edef 2px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#0f0f0f), to(#333132));
    background: -moz-linear-gradient(top, #0f0f0f, #333132);
}
.button:hover {
    background: #828081;
}
.list-view {
  /*  float:left;    */
    }
.list-view-loading {
    /*background:url(loading.gif) no-repeat;*/
    /*background: yellow;*/
    }

.list-view .summary {
    margin: 0 0 5px 0;
    text-align: right
    }

.list-view .sorter {
    margin: 0 0 5px 0;
    text-align: right
    }

.list-view .pager {
    margin: 5px 0 0 0;
    text-align: right;
    clear: left
    }

.list-view .sorter {
    font-size: 0.9em
    }

.list-view .sorter ul {
    display: inline;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0
    }

.list-view .sorter li {
    display: inline;
    margin: 0 0 0 5px;
    padding: 0
    }

.list-view .sorter a.asc {
    background: url(up.gif) right center no-repeat;
    padding-right: 10px
    }

.list-view .sorter a.desc {
    background: url(down.gif) right center no-repeat;
    padding-right: 10px
    }
